

    <!-- s-content
    
    ================================================== -->
    <section class="s-content">

        <div class="row masonry-wrap">
            <div class="masonry">
                <div class="grid-sizer"></div>


<!-- article -->
            <% @questions.each do |question|  %>
                <article class="masonry__brick entry format-standard" data-aos="fade-up">
                        
                    <div class="entry__thumb">
                        <a href="single-standard.html" class="entry__thumb-link">
                            <img src="<%= question.image_url  %>" alt="">
                        </a>
                    </div>
    
                    <div class="entry__text">
                        <div class="entry__header">
                            
                            <div class="entry__date">
                                <div class="col-sm-10 text-left ceropad">
                                <a href="single-standard.html"><%= question.created_at.strftime('%m/%d/%Y') %></a>
                                </div>
                                <div class="col-sm-2 text-left">
                                <%= link_to "<i class='fas fa-pencil-alt'></i>".html_safe, edit_question_path(question)%>
                                <%= link_to "<i class='fas fa-eraser'></i>".html_safe, question, method: :delete, data: { confirm: "are you sure?" } %>
                                
                            
                            </div>
                            </div>
                            <%= link_to question.title.capitalize, question, :class => "entry__title"  %>
                            
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                <%= question.description[0, 150] %> ...
                            </p>
                        </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                            <% question.categories.each do |question_category| %>
                                <a href="category.html"><%= question_category[:name] %></a> 
                            <% end%>
                                
                                
                            </span>
                        </div>
                    </div>
    
                </article> <!-- end article -->
            <% end %>

            </div> <!-- end masonry -->
        </div> <!-- end masonry-wrap -->


    </section> <!-- s-content -->
