<!DOCTYPE html>
<html>
  <head>
    <title>Producthunt</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag "base" %>
    <%= stylesheet_link_tag "vendor" %>
    <%= stylesheet_link_tag "main" %>
    <%= javascript_include_tag 'modernizr'%>
    <%= javascript_include_tag 'pace.min.js'%>
    
    

  </head>

  <body  id="top">
    <%= yield %>
  </body>
</html>
